$blue: #00ffff;
$purple: #9512b2;
$orange: #ff8b5c;
@import 'src/normalize';
@import 'src/concise';
@import 'src/cascade';
@import 'src/syntax';
@import 'src/sidebar';
@import 'src/code_example';

header {
  height      : 100vh;
  background  : linear-gradient(to right, $blue, $purple);
  margin-left : 0 !important;
  margin-right: 0 !important;
  position    : relative;

  div {
    margin        : auto;
    display       : flex;
    flex-direction: column;
  }

  h1,
  h3 {
    margin    : auto;
    color     : white;
    text-align: center;
  }

  h1 {
    font-size: 3.1rem;
    @media(min-width: 600px) {
      font-size: 5rem;
    }
  }
}

a {
  color: $purple;

  &:hover {
    color: darken($purple, 10);
  }
}

font.code {
  font-family: "Consolas", monospace;
}

main {
  margin    : 0 !important;
  position  : relative;
  min-height: 100vh;

  article {
    h1:first-of-type {
      margin: 0;
    }
  }
}

button {
  margin-top   : .375rem;
  padding      : 6px 12px;
  border-radius: 3px;
  background   : transparentize($purple, .7);
  border       : 1px solid transparentize($purple, .6);
  color        : white;

  &:focus {
    outline: none;
  }
}
