/* Copyright 2017 Joshua Bartlett */
/* Available under MIT License */

.cascade-container * {
  display    : inline-block;
  white-space: pre;
}

.cascade {
  animation-fill-mode: both;
  animation-duration : 1s;
}
@keyframes fadeUp {
  from {
    opacity  : 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity  : 1;
    transform: none;
  }
}

.fadeUp {
  animation-name: fadeUp;
}
@keyframes fadeDown {
  from {
    opacity  : 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity  : 1;
    transform: none;
  }
}

.fadeDown {
  animation-name: fadeDown;
}
@keyframes doTheWave {
  to {
    transform: translateY(100px);
  }
}

.doTheWave {
  animation-name           : doTheWave;
  animation-timing-function: ease-in-out;
  animation-direction      : alternate;
  animation-iteration-count: infinite;
}
